/* For desktop (or tablets above X width), reserve scrollbar space */
@media (min-width: 768px) {
  html {
    overflow-y: scroll; /* always show vertical scrollbar */
  }
}

/* For mobile, let overflow auto/hide. */
@media (max-width: 767px) {
  html {
    overflow-y: auto; /* or overlay, letting the browser handle it */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
